* {
    /* border: 2px solid red; */
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: hsla(0, 10%, 0%, 0.3);
}

html, body {
    min-height: 100vh;
}

body {
    background-image: url("./images/clear_sky.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

header {
    padding: 1em 0 0 1em;
    font-size: 2em;
    font-weight: bold;
}

main {
    flex: 1;
}

img {
    height: 10em;
}

.content {
    display: grid;
}

.report_today {
    margin: 2em;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 20px;
}

.search {
    display: flex;
    justify-content: center;
}

input[type=text] {
    border-radius: 30px;
    border: none;
    font-size: 1.5em;
    height: 2em;
    padding-left: 1em;
    cursor: text;
    color: black;
}

.report_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: var(--bg-color);
    border-radius: 50px;
    margin: 2em;
    padding: 2em;
}

.report_content {
    width: 100%;
    display: flex;
}

.report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.report > p {
    font-weight: bold;
}

.location {
    font-size: 2em;
}

.current_date {
    font-weight: bold;
    font-size: 1.2em;
}

.temparature {
    font-size: 5em;
}

.report_today {
    padding: 50px;
}


.temp_value .unit {
    font-size: 2em;
    cursor: pointer;
}

.temparature_range {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 10px;
}

.highest_temp, .lowest_temp {
    padding: 2em;
    width: 15em;
    height: 5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    border-radius: 40px;
    background-color: var(--bg-color);
}

.highest_temp > div, .lowest_temp > div{
    font-weight: bold;
    font-size: 1.5em;
}

.forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 2em;
    padding: 2em;
    row-gap: 2em;
    column-gap: 2em;
}

.upcoming_day {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    row-gap: 2em;
    padding: 2em;
    background-color: var(--bg-color);
    border-radius: 70px;
}

.upcoming_date {
    font-weight: bold;
    font-size: 2em;
}

.upcoming_report {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 1em;
    column-gap: 2em;
}

.upcoming_temparature {
    font-size: 2em;
    font-weight: bold;
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 50px;
}

footer {
    margin: 0;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-size: 20px;
}

footer > div {
    color: black;
    font-weight: bold;
}

@media (min-width: 1200px) {
    .content {
        grid-template-columns: 2fr 1fr;
    }

    .forecast {
        flex-direction: column;
        margin: 0;
    }
}

