* {
    /* border: 2px solid red; */
}

body {
    background-image: url("./images/clear_sky.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
}

img {
    height: 100px;
}

.content {
    display: flex;
    flex-direction: column;
}

.current_report {
    display: flex;
    flex-wrap: wrap;
    height: 50%;
}

.current_report > div {
    flex: 1;
}

.temparature_report {
    display: flex;
    justify-content: center;
}

.other_informations > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.report_today {
    padding: 10px;
}

.value {
    font-size: larger;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin: 10px;
    /* border: 2px solid blue; */
}

.unit {
    font-size: 2em;
    cursor: pointer;
}

.temperature_value {
    font-size: 50px;
    font-weight: bold;
}

.temparature_range {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 2em;
}

.location_name {
    font-size: 30px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-align: center;
}

.date_time {
    font-size: 20px;
}

.forcast_heading {
    font-size: 20px;
    font-style: italic;
}

.upcoming_report {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
}

.upcoming_report > div {
    flex: 1;
}

footer {
    margin: 0;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    font-size: 20px;
}

